.red-hard {
    background-color: #900000;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.blue {
    background-color: blue;
}

.green-forest {
    background-color: forestgreen
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.orange {
    background-color: orange;
}